.head{

}

ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}

.head_img{
    width: 250px;
    height: 40px;
}

.search{
    display: inline-block;
    position: absolute; right: 50px;
}

.hear .search{
    display: inline-block;
    height: 40px;
    width: 300px;
    background-color: lightgray;
    position: absolute ;right: 60px;
}

.search input{
    height: 32px;
    width: 190px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto
}

.search .background{
    display: inline-block;
    height: 45px;
    width: 206px;
    background-color: lightgray;
    border-radius: 5px;
    position: relative;
}

.head .up{
    display: inline-block;
    position: absolute;
    padding-left: 10px;
}

.head button{
    width: 30px;
    height: 30px;
    position: relative;
    top: 5px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto
}

.left_sidebar{
    box-sizing: border-box;
    display: inline-block;
    width: 152px;
    border-width: 1px;
    border: lightgray solid 1px;
}

.left_sidebar .title{
    width: 140px;
    height: 32px;
    font-family: 黑体;
    font-weight: 600;
    margin: auto;
    line-height: 32px;
}

.member{
    width: 150px;
    border-color: black;
}

.member .up{
    background-color: #F6F4F0;
}

.up li{
    font-weight: 500;
    line-height: 24px;
    background-color: #f6f4f0;
    text-decoration: none;
    display: block;
    padding: 4px;
    border-bottom: 1px solid #efefef;
    color: #000;
    font-size: 14px;
}

.center{
    box-sizing: border-box;
    display: inline-block;
    margin-left: 170px;
    margin-top: 20px;
    width: 600px;
    height: 1000px;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
}